@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 18px;
}

body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
}

body.lock_ {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

.container {
  max-width: 1250px;
  margin: 0px auto;
  height: 100%;
  padding: 0 15px;
}

::-webkit-scrollbar {
  background: #f3f7f4;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #40494d;
  border-radius: 50px;
}

*::selection {
  background: #40494d;
  color: #fff;
}

.header {
  width: 100%;
  height: 120px;
  background: #fff;
  position: fixed;
  z-index: 3;
}
.header__container {
  max-width: 1310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .header__container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 2;
  }
}
@media (max-width: 767px) {
  .header {
    height: 70px;
  }
}
.header__logo {
  position: relative;
  z-index: 3;
  flex: 0 0 10.5%;
}
.header__logo a {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.header__logo a img:first-child {
  margin: 0 11px 0 0;
}
@media (max-width: 300px) {
  .header__logo a img:last-child {
    display: none;
  }
}
.header__menu {
  flex: 1 1 auto;
  position: relative;
  z-index: 3;
}
.header__rest {
  flex: 0 0 20%;
  position: relative;
  z-index: 3;
}

.menu {
  padding: 0 108px 0 0;
}
.menu .nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.menu .nav li {
  padding: 0 7.7% 0 0;
}
@media (min-width: 819px) {
  .menu .nav li:last-child {
    padding: 0;
  }
}
.menu .nav__link {
  position: relative;
  font-size: 0.89rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #40494d;
}
@media (min-width: 767px) {
  .menu .nav__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    width: 0;
    height: 1px;
    background: #40494d;
    transition: all 300ms ease;
  }
  .menu .nav__link:hover {
    color: #000;
  }
  .menu .nav__link:hover::before {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .menu {
    padding: 0 54px;
  }
  .menu .nav__list {
    row-gap: 10px;
    justify-content: center !important;
  }
}
@media (max-width: 767px) {
  .menu {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    z-index: 1;
    background: #40494d;
    left: 0;
    top: -70px;
    transform: translate(0, -100%);
    transition: all 400ms ease-in-out;
    padding: 0 0 70px 0;
    overflow: auto;
  }
  .menu.open_ {
    transform: translate(0, 0);
    top: 70px;
  }
  .menu .nav__list {
    flex-direction: column;
  }
  .menu li {
    padding: 1em 0 !important;
  }
  .menu .nav__link {
    color: #fff;
    font-size: 2rem;
    text-decoration: underline;
  }
}

.rest-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rest-items__search {
  width: 57px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #40494d;
  border-radius: 50%;
  transition: all 300ms ease-in;
}
.rest-items__search img[src="img/header/icon.svg"] {
  display: block;
  transition: all 0 ease-in 400ms;
}
.rest-items__search img[src="img/header/iconHover.svg"] {
  display: none;
  transition: all 0 ease-in 400ms;
}
@media (min-width: 767px) {
  .rest-items__search:hover {
    background: #40494d;
  }
  .rest-items__search:hover img[src="img/header/icon.svg"] {
    display: none;
  }
  .rest-items__search:hover img[src="img/header/iconHover.svg"] {
    display: block;
  }
}
@media (max-width: 767px) {
  .rest-items__search {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 620px) {
  .rest-items__search {
    margin: 0 15px 0 0;
  }
}
.rest-items__button {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #283337;
  border-radius: 56px;
  padding: 17.5px 25px;
  transition: background-color 300ms ease-in, color 200ms ease-in;
  white-space: nowrap;
  margin: 0 15px;
}
@media (min-width: 767px) {
  .rest-items__button:hover {
    color: #283337;
    background: #61d7ac;
  }
}
@media (max-width: 767px) {
  .rest-items__button {
    margin: 0 25px;
    padding: 12px 17px;
  }
}

.burger {
  display: none;
}
@media (max-width: 767px) {
  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 24px;
  }
  .burger__icon, .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #40494d;
    transition: all 300ms ease;
  }
  .burger__icon {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.cross_ .burger__icon {
    transform: scale(0);
  }
  .burger.cross_::before {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }
  .burger.cross_::after {
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg);
  }
}

.main {
  flex: 1 0 auto;
  margin: 120px 0 0 0;
}
@media (max-width: 767px) {
  .main {
    margin: 70px 0 0 0;
  }
}

.poster {
  width: 100%;
  background: #f3f7f4;
}
.poster__container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.poster__body {
  width: 33.6%;
  padding: 270px 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  .poster__body {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .poster__body {
    width: 62.2%;
    padding: 135px 0;
  }
}
@media (max-width: 670px) {
  .poster__body {
    width: 87%;
    padding: 135px 0;
  }
  .poster__body h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 425px) {
  .poster__body {
    width: 100%;
    padding: 135px 0;
  }
  .poster__body h1 {
    font-size: 3.1rem;
  }
}
@media (max-width: 375px) {
  .poster__body h1 {
    font-size: 2.3rem;
  }
}
.poster__img {
  padding: 180px 140px 0 0;
}
.poster__img div:not(:first-child) {
  position: absolute;
}
@media (max-width: 425px) {
  .poster__img div:not(:first-child) {
    display: none;
  }
}
@media (max-width: 992px) {
  .poster__img .decor-img {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.poster__img .decor-1 {
  top: 37%;
  right: 3%;
}
.poster__img .decor-2 {
  top: 68%;
  right: 20%;
}
.poster__img .decor-3 {
  top: 39%;
  right: 38%;
}
@media (max-width: 620px) {
  .poster__img .decor-3 {
    left: 5% !important;
  }
}
@media (max-width: 992px) {
  .poster__img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .poster__img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(243, 247, 244, 0.8666666667);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .poster__img .decor-2 {
    right: 20%;
  }
  .poster__img .decor-3 {
    left: 10%;
  }
}

.header-block {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1em;
  letter-spacing: 1px;
  color: #283337;
}

.body-poster__text {
  padding: 45px 5em 25px 0;
}
.body-poster__text p {
  font-weight: 400;
  font-size: 1.16rem;
  line-height: 1.47em;
  color: #40494d;
}
@media (max-width: 375px) {
  .body-poster__text {
    padding: 25px 0;
  }
  .body-poster__text p {
    font-size: 1rem;
  }
}
.body-poster__box a {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #283337;
  border-radius: 56px;
  padding: 17.5px 50px;
  transition: background-color 300ms ease-in, color 200ms ease-in;
}
@media (min-width: 767px) {
  .body-poster__box a:hover {
    color: #283337;
    background: #61d7ac;
  }
}

.poster-icons {
  width: 100%;
  background: #000;
  border: 1px solid #000;
}
.poster-icons__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 768px) {
  .poster-icons__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 425px) {
  .poster-icons__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 375px) {
  .poster-icons__body {
    grid-template-columns: 1fr;
  }
}
.poster-icons__icon {
  width: 100%;
  height: 200px;
}
@media (max-width: 768px) {
  .poster-icons__icon {
    height: 100px;
    background-size: auto 100%;
  }
}

#i-1 {
  background: url(../img/poster/icons/poster-icon_2.svg) center/40.9836065574% 100px no-repeat;
}

#i-2 {
  background: url(../img/poster/icons/poster-icon_4.svg) center/81.9672131148% 69px no-repeat;
}

#i-3 {
  background: url(../img/poster/icons/poster-icon_5.svg) center/40.9836065574% 100px no-repeat;
}

#i-4 {
  background: url(../img/poster/icons/poster-icon_3.svg) center/50% 100px no-repeat;
}

#i-5 {
  background: url(../img/poster/icons/poster-icon_1.svg) center/58.606557377% 100px no-repeat;
}

.product {
  background: #fff;
}
.product__container {
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.product__body {
  width: 44.75%;
}
.product__img {
  width: 44.75%;
  background: #f3f7f4;
  padding: 4.5em 4rem 4.5rem 4.5rem;
  border-radius: 6px;
}
@media (max-width: 1024px) {
  .product__body, .product__img {
    width: 50%;
  }
  .product__img {
    padding: 2.5em 2em 2.5em 2.5em;
  }
}
@media (max-width: 767px) {
  .product__container {
    flex-direction: column;
  }
  .product__body, .product__img {
    width: 100%;
  }
  .product__body {
    padding: 0 0 2em 0;
  }
}
@media (max-width: 425px) {
  .product__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .product__img {
    padding: 1em;
  }
}

.body-product div {
  padding-right: 8em;
}
.body-product__text {
  padding: 1.9em 0;
}
.body-product__text p {
  font-style: normal;
  font-weight: 400;
  line-height: 144.4444444444%;
  color: #40494d;
}
.body-product__text p span {
  text-decoration: underline;
}
.body-product__box a {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #283337;
  border-radius: 56px;
  padding: 0.89em 1.4em;
  transition: background-color 300ms ease-in, color 200ms ease-in;
  white-space: nowrap;
}
@media (min-width: 767px) {
  .body-product__box a:hover {
    color: #283337;
    background: #61d7ac;
  }
}
@media (max-width: 1024px) {
  .body-product div {
    padding-right: 4em;
  }
}
@media (max-width: 1024px) {
  .body-product div {
    padding-right: 0;
  }
  .body-product__text {
    padding: 1em 0;
  }
}

.img-product__header {
  padding: 2.2rem 4rem 2.2rem 0;
}
.img-product__header h1 {
  font-weight: 400;
  font-size: 1.78rem;
  line-height: 34px;
  color: #283337;
}
.img-product__box {
  padding: 2em 0 0 0;
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .img-product__header {
    padding: 1em 0;
  }
}

.learn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 200%;
  color: #283337;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .learn:hover {
    text-decoration: underline;
  }
}

.results {
  background: #f3f7f4;
  padding: 150px 0 70px;
}
.results__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.results__container > div {
  text-align: center;
}
@media (max-width: 767px) {
  .results__container {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
}
@media (max-width: 425px) {
  .results__container {
    grid-template-columns: 1fr;
  }
}
.results__header {
  grid-column: 1/span 3;
}
@media (max-width: 767px) {
  .results__header {
    grid-column: 1/span 2;
  }
}
@media (max-width: 425px) {
  .results__header {
    grid-column: 1/2;
  }
}
.results__square {
  padding: 80px 0;
}
.results__square h1 {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 134.6153846154%;
  color: #283337;
  padding: 0 0 0.4em 0;
}
.results__square p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #40494d;
  width: 51%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .results__square {
    padding: 40px 20px 0;
  }
  .results__square p {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .results {
    padding: 100px 0;
  }
}
@media (max-width: 992px) {
  .results {
    padding: 75px 0;
  }
}

.difference {
  width: 100%;
  background: #fff;
  position: relative;
}
.difference__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 1024px) {
  .difference__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .difference__container {
    padding-top: 75px;
    padding-bottom: 75px;
    flex-direction: column;
  }
  .difference__container .difference__body,
.difference__container .difference__popup {
    width: 100%;
  }
}
.difference__body {
  width: 50%;
}
.difference__popup {
  width: 50%;
}
.body-difference {
  padding: 0 12.5em 0 0;
}
.body-difference__header {
  padding: 0 0 2.4em 0;
}
.body-difference__text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 144.4444444444%;
  color: #40494d;
}
.body-difference ul {
  padding: 1.35em 0;
  list-style: none;
}
.body-difference li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #40494d;
  padding: 0 0 0 1.9em;
}
.body-difference li.caption {
  font-weight: 400;
  font-size: 11px;
  line-height: 127.2727272727%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #283337;
  padding: 0 0 1.3em;
}
@media (max-width: 1024px) {
  .body-difference {
    padding: 0 4.5em 0 0;
  }
}
@media (max-width: 767px) {
  .body-difference {
    padding: 0 0 2em 0;
  }
  .body-difference__header {
    padding: 0 0 1.2em 0;
  }
}

.popup-difference {
  position: relative;
}
.popup-difference img {
  width: 100%;
  display: block;
}
.popup-difference__controls {
  background: #61d7ac;
  opacity: 0.8;
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-difference__play {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #fff;
  opacity: 1;
}

.popup-block {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9333333333);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 800ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.popup-block.open_ {
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  overflow: hidden;
}
.popup-block.open_ video {
  transform: translate(0, 0);
}
.popup-block__body {
  display: inline-block;
}
@media (max-width: 767px) {
  .popup-block__body {
    padding: 0 15px;
  }
}
.popup-block video {
  width: 100%;
  height: auto;
  display: block;
  transform: translate(0, -100%);
  transition: all 800ms ease-in-out;
}
@media (min-width: 767px) {
  .popup-block video {
    width: 640px;
    height: 360px;
  }
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  flex-direction: column;
  z-index: inherit;
  cursor: pointer;
}
.cross:before, .cross:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

.built {
  width: 100%;
}
.built__square {
  min-height: 100px;
  width: 100%;
}
.built .caption {
  text-align: center;
}
.built #b-1 {
  background: url(../img/built/b-1.png) center/46.5053763441% no-repeat;
}
.built #b-2 {
  background: url(../img/built/b-2.png) center/29.0322580645% auto no-repeat;
}
.built #b-3 {
  background: url(../img/built/b-3.png) center/50% auto no-repeat;
}
.built__body {
  padding: 60px 0 0 0;
  height: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  .built__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
  }
}
@media (max-width: 375px) {
  .built__body {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .built__container {
    padding: 0 0 150px 0;
  }
}
@media (max-width: 375px) {
  .built__container {
    padding: 0 0 300px 0;
  }
}

.start {
  width: 100%;
  background: #f3f7f4;
}
.start__container {
  padding: 150px 0;
}
@media (max-width: 767px) {
  .start__container {
    padding: 100px 0;
  }
}
@media (max-width: 425px) {
  .start__container {
    padding: 75px 0;
  }
}
.start__caption {
  text-align: center;
}
.start__caption h1 {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .start__caption h1 {
    width: 100%;
  }
}
.start__text {
  text-align: center;
  padding: 2.7em 0;
}
.start__text p {
  font-weight: 400;
  font-size: 1.83rem;
  line-height: 109.0909090909%;
  color: #283337;
}
.start__box {
  text-align: center;
}
.start__box a {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #283337;
  border-radius: 56px;
  padding: 16px 43px;
  transition: background-color 300ms ease-in, color 200ms ease-in;
}
@media (min-width: 767px) {
  .start__box a:hover {
    color: #283337;
    background: #61d7ac;
  }
}