// Контент сайта //
.main {
   flex: 1 0 auto;
   margin: 120px 0 0 0;

   @media (max-width: $tablet) {
      margin: 70px 0 0 0;
   }
}

// Контент сайта Poster //
.poster {
   width: 100%;
   background: $grey;

   &__container {
      position: relative;
      @include flex(start, space-between);
   }

   &__body {
      width: 33.8%;
      padding: 270px 0;
      position: relative;
      z-index: 2;

      @media (max-width: 1200px) {
         width: 50%;
      }

      @media (max-width: $biggestTablet) {
         width: 62.2%;
         padding: 135px 0;
      }

      @media (max-width: 670px) {
         width: 87%;
         padding: 135px 0;

         h1 {
            font-size: 2.8rem;
         }
      }

      @media (max-width: $bigPhone) {
         width: 100%;
         padding: 135px 0;

         h1 {
            font-size: 3.1rem;
         }
      }

      @media (max-width: $mediumPhone) {
         h1 {
            font-size: 2.3rem;
         }
      }
   }

   &__img {
      padding: 180px 140px 0 0;

      div {
         &:not(:first-child) {
            position: absolute;
         }

         @media (max-width: $bigPhone) {
            &:not(:first-child) {
               display: none;
            }
         }
      }

      .decor-img {
         @media (max-width: $biggestTablet) {
            position: absolute;
            right: 0;
            top: 0;
         }
      }

      .decor-1 {
         top: 37%;
         right: 3%;
         // transition: transform 700ms ease 50ms;
      }

      .decor-2 {
         top: 68%;
         right: 20%;
         // transition: transform 600ms ease 50ms;
      }

      .decor-3 {
         top: 39%;
         right: 38%;
         // transition: transform 500ms ease 50ms;

         @media (max-width: 620px) {
            left: 5% !important;
         }
      }

      @media (max-width: $biggestTablet) {
         position: absolute;
         right: 0;
         width: 100%;
         height: 100%;

         &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: #f3f7f4dd;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
         }

         .decor-2 {
            right: 20%;
         }

         .decor-3 {
            left: 10%;
         }
      }
   }
}

.header-block {
   font-family: 'Times New Roman';
   font-weight: 700;
   font-size: 3.3rem;
   line-height: 1em;
   letter-spacing: 1px;
   color: #283337;
}

.body-poster {
   &__text {
      padding: 45px 5em 25px 0;

      p {
         font-weight: 400;
         font-size: 1.16rem;
         line-height: 1.47em;
         color: $primary;
      }

      @media (max-width: 375px) {
         padding: 25px 0;

         p {
            font-size: 1rem;
         }
      }
   }

   &__box {
      a {
         @include main-button(17.5px, 50px);
      }
   }
}

.poster-icons {
   width: 100%;
   background: #000;
   border: 1px solid #000;

   &__body {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @media (max-width: 768px) {
         grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 425px) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 375px) {
         grid-template-columns: 1fr;
      }
   }

   &__icon {
      width: 100%;
      height: 200px;

      @media (max-width: 768px) {
         height: 100px;
         background-size: auto 100%;
      }
   }
}

#i-1 {
   background: url(../img/poster/icons/poster-icon_2.svg) center/ calc(100 / 244 * 100%) 100px no-repeat;
}

#i-2 {
   background: url(../img/poster/icons/poster-icon_4.svg) center/ calc(200 / 244 * 100%) 69px no-repeat;
}

#i-3 {
   background: url(../img/poster/icons/poster-icon_5.svg) center/ calc(100 / 244 * 100%) 100px no-repeat;
}

#i-4 {
   background: url(../img/poster/icons/poster-icon_3.svg) center/ calc(122 / 244 * 100%) 100px no-repeat;
}

#i-5 {
   background: url(../img/poster/icons/poster-icon_1.svg) center/ calc(143 / 244 * 100%) 100px no-repeat;
}
.animItem {
   opacity: 0;
   transform: translate(0, 250px);
   display: inline-block;
   &.animate_ {
      opacity: 1;
      transform: translate(0, 0);
   }
}
.anim-1 {
	transition: all 800ms ease-out;
}
.anim-2 {
	transition: all 800ms ease-out 300ms;
}

// Контент сайта Poster //
.product {
   background: #fff;

   &__container {
      padding-top: 75px;
      padding-bottom: 75px;
      @include flex(start, center);
   }

   &__body {
      width: 44.75%;
   }

   &__img {
      width: 44.75%;
      background: $grey;
      padding: 4.5em 4rem 4.5rem 4.5rem;
      border-radius: 6px;
   }

   @media (max-width: $smallLaptop) {
      &__body,
      &__img {
         width: 50%;
      }

      &__img {
         padding: 2.5em 2em 2.5em 2.5em;
      }
   }

   @media (max-width: $tablet) {
      &__container {
         flex-direction: column;
      }

      &__body,
      &__img {
         width: 100%;
      }

      &__body {
         padding: 0 0 2em 0;
      }
   }

   @media (max-width: $bigPhone) {
      &__container {
         padding-top: 25px;
         padding-bottom: 25px;
      }

      &__img {
         padding: 1em;
      }
   }
}

.body-product {
   div {
      padding-right: 8em;
   }

   &__text {
      padding: 1.9em 0;

      p {
         font-style: normal;
         font-weight: 400;
         line-height: 26px/18px * 100%;
         color: $primary;

         span {
            text-decoration: underline;
         }
      }
   }

   &__box {
      a {
         @include main-button(0.89em, 1.4em);
         white-space: nowrap;
      }
   }

   @media (max-width: $smallLaptop) {
      div {
         padding-right: 4em;
      }
   }

   @media (max-width: $smallLaptop) {
      div {
         padding-right: 0;
      }

      &__text {
         padding: 1em 0;
      }
   }
}

.img-product {
   &__header {
      padding: 2.2rem 4rem 2.2rem 0;

      h1 {
         font-weight: 400;
         font-size: 1.78rem;
         line-height: 34px;
         color: $secondary;
      }
   }

   &__box {
      padding: 2em 0 0 0;
      @include flex(start, flex-end);
   }

   @media (max-width: $tablet) {
      &__header {
         padding: 1em 0;
      }
   }
}

.learn {
   font-weight: 700;
   font-size: 1rem;
   line-height: 36px/18px * 100%;
   color: $secondary;
   text-transform: capitalize;

   @media (min-width: $tablet) {
      &:hover {
         text-decoration: underline;
      }
   }
}

// Контент сайта Results //
.results {
   background: $grey;
   padding: 150px 0 70px;

   &__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      > div {
         text-align: center;
      }

      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         justify-self: center;
      }

      @media (max-width: $bigPhone) {
         grid-template-columns: 1fr;
      }
   }

   &__header {
      grid-column: 1 / span 3;

      @media (max-width: $tablet) {
         grid-column: 1 / span 2;
      }

      @media (max-width: $bigPhone) {
         grid-column: 1/2;
      }
   }

   &__square {
      padding: 80px 0;

      h1 {
         font-weight: 400;
         font-size: 2.8rem;
         line-height: 70px/52px * 100%;
         color: $secondary;
         padding: 0 0 0.4em 0;
      }

      p {
         font-weight: 400;
         font-size: 16px;
         line-height: 24px/16px * 100%;
         color: $primary;
         width: 51%;
         margin: 0 auto;
      }

      @media (max-width: $biggestTablet) {
         padding: 40px 20px 0;

         p {
            width: 100%;
         }
      }
   }

   @media (max-width: $smallLaptop) {
      padding: 100px 0;
   }

   @media (max-width: $biggestTablet) {
      padding: 75px 0;
   }
}

// Контент сайта Difference //
.difference {
   width: 100%;
   background: #fff;
   position: relative;

   &__container {
      @include flex(center, center);
      padding-top: 150px;
      padding-bottom: 150px;

      @media (max-width: $smallLaptop) {
         padding-top: 100px;
         padding-bottom: 100px;
      }

      @media (max-width: $tablet) {
         padding-top: 75px;
         padding-bottom: 75px;
         flex-direction: column;

         .difference__body,
         .difference__popup {
            width: 100%;
         }
      }
   }

   &__body {
      width: 50%;
   }

   &__popup {
      width: 50%;
   }

   @media (max-width: $smallLaptop) {
   }
}

.body-difference {
   padding: 0 12.5em 0 0;

   &__header {
      padding: 0 0 2.4em 0;
   }

   &__text {
      p {
         font-weight: 400;
         font-size: 1rem;
         line-height: 26px/18px * 100%;
         color: #40494d;
      }
   }

   ul {
      padding: 1.35em 0;
      list-style: none;
   }

   li {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: $primary;
      padding: 0 0 0 1.9em;

      &.caption {
         font-weight: 400;
         font-size: 11px;
         line-height: 14px/11px * 100%;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: $secondary;
         padding: 0 0 1.3em;
      }
   }

   @media (max-width: $smallLaptop) {
      padding: 0 4.5em 0 0;
   }

   @media (max-width: $tablet) {
      padding: 0 0 2em 0;

      &__header {
         padding: 0 0 1.2em 0;
      }
   }
}
.popup-difference {
   position: relative;

   img {
      width: 100%;
      display: block;
   }

   &__controls {
      background: $blue-grey;
      opacity: 0.8;
      width: 8rem;
      height: 8rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      @include flex(center, center);
   }

   &__play {
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 30px solid #fff;
      opacity: 1;
   }
}

//============ Popup ============//
.popup-block {
   width: 100%;
   min-height: 100vh;
   background: #000000ee;
   z-index: 5;
   @include flex(center, center);
   transition: all 800ms ease-in-out;
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   &.open_ {
      top: 0;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      overflow: hidden;
      video {
         transform: translate(0, 0);
      }
   }
   &__body {
      display: inline-block;
      @media (max-width: $tablet) {
         padding: 0 15px;
      }
   }
   video {
      width: 100%;
      height: auto;
      display: block;
      transform: translate(0, -100%);
      transition: all 800ms ease-in-out;
      @media (min-width: $tablet) {
         width: 640px;
         height: 360px;
      }
   }
}

.cross {
   position: absolute;
   top: 10px;
   right: 10px;
   height: 30px;
   width: 30px;
   flex-direction: column;
   z-index: inherit;
   cursor: pointer;
   &:before,
   &:after {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: #fff;
   }
   &:before {
      transform: rotate(45deg);
   }
   &:after {
      transform: rotate(-45deg);
   }
}

// Контент сайта Built //
.built {
   width: 100%;

   &__square {
      min-height: 100px;
      width: 100%;
   }

   .caption {
      text-align: center;
   }

   #b-1 {
      background: url(../img/built/b-1.png) center / calc(173 / 372 * 100%) no-repeat;
   }
   #b-2 {
      background: url(../img/built/b-2.png) center / calc(108 / 372 * 100%) auto no-repeat;
   }
   #b-3 {
      background: url(../img/built/b-3.png) center / calc(186 / 372 * 100%) auto no-repeat;
   }

   &__body {
      padding: 60px 0 0 0;
      height: 160px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         gap: 20px 0;
      }
      @media (max-width: $mediumPhone) {
         grid-template-columns: 1fr;
         width: 100%;
      }
   }
   &__container {
      padding: 0 0 75px 0;
      @media (max-width: $tablet) {
         padding: 0 0 150px 0;
      }
      @media (max-width: $mediumPhone) {
         padding: 0 0 300px 0;
      }
   }
}

// Контент сайта Start //
.start {
   width: 100%;
   background: $grey;
   &__container {
      padding: 150px 0;
      @media (max-width: $tablet) {
         padding: 100px 0;
      }
      @media (max-width: $bigPhone) {
         padding: 75px 0;
      }
   }

   &__caption {
      text-align: center;
      h1 {
         width: 50%;
         margin: 0 auto;
         @media (max-width: $tablet) {
            width: 100%;
         }
      }
   }

   &__text {
      text-align: center;
      padding: 2.7em 0;
      p {
         font-weight: 400;
         font-size: 1.83rem;
         line-height: 36px/33px * 100%;
         color: $secondary;
      }
   }

   &__box {
      text-align: center;
      a {
         @include main-button(16px, 43px);
      }
   }
}
