// Подготовка к вёрстке //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: '';
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
  margin: 0px auto;
}

@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';