// Подготовка к вёрстке //
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import '_variables.scss';
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: #000;
}
html {
   font-size: 18px;
}
body,
.wrapper {
   width: 100%;
   height: 100%;
   font-family: 'Manrope', sans-serif;
}
.body.lock_ {
   overflow: hidden;
}
.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $container + px;
   margin: 0px auto;
   height: 100%;
   padding: 0 15px;
}

::-webkit-scrollbar {
	background: #f3f7f4;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: 50px;
}

*::selection {
	background: $primary;
	color: #fff;
}

@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
